PORT=3000
ISSUER=https://jockey-auth.onrender.com
CLIENT_ID=jockey-mobile-auth
CLIENT_SECRET=change-me
SHOPIFY_CUSTOMER_ACCOUNT_CLIENT_ID=566d2f39-c5be-406c-a5df-519946a3b87a
STATIC_OTP=1234
REDIRECT_URIS=https://shopify.com/authentication/84275495171/login/external/callback,https://dev-store-2-ciaderoj.account.myshopify.com/authentication/login/external/callback
POST_LOGOUT_REDIRECT_URIS=https://dev-store-2-ciaderoj.myshopify.com/customer_authentication/logout/callback,https://shopify.com/84275495171/account/logout_callback,https://dev-store-2-ciaderoj.account.myshopify.com/logout_callback
